$bg-color: #272727;
$primary-color: #FF6853;
$grey: #383838;
$white: rgb(233, 233, 233);

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&display=swap');

$primary-font: 'IBM Plex Sans', sans-serif;